@{
    ViewBag.Title = "Angular Owner";
}
@Html.Partial("Index")
    
<div class="functions">
    
    <div class="function">
        <input id="btnBranchSearch" type="button" value="Branch Search" onclick="branchSearch()"/>
        Count: <input id="lblBranchCount" type="text" readonly="readonly"/>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <br/>

</div>