SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

IF (EXISTS(
		SELECT * FROM [sys].[schemas]	S
		INNER JOIN	[sys].[objects]		O	ON	S.[schema_id]	= O.[schema_id]
		WHERE 
			S.[name]	= 'Owner.Post'	AND
			O.[type]	= 'P'			AND
			O.[name]	= 'Split.Action'))
	DROP PROCEDURE [Owner.Post].[Split.Action];
GO

CREATE PROCEDURE [Owner.Post].[Split.Action]
(
	@genericInput	XML,
	@number			INT	OUTPUT
)
AS
BEGIN

	SET NOCOUNT ON;
	
	DECLARE 
		@permissionType	NVARCHAR(MAX),
		@entity			XML,
		@predicate		XML,
		@startNumber	INT,
		@endNumber		INT,
		@order			NVARCHAR(MAX),
		@emplacementId	UNIQUEIDENTIFIER,
		@applicationId	UNIQUEIDENTIFIER,
		@organisations	XML,
		@isCountable	BIT,
		@guids			XML,
		@isExcluded		BIT,
		@isFiltered		BIT,
		@command		NVARCHAR(MAX);
	
	DECLARE @output TABLE ([Id] UNIQUEIDENTIFIER);
	
	CREATE TABLE [#organisations] ([Id] UNIQUEIDENTIFIER PRIMARY KEY CLUSTERED);
	EXEC [Common].[GenericInput.Action] 
		@genericInput	= @genericInput,
		@permissionType = @permissionType	OUTPUT,
		@entity			= @entity			OUTPUT,
		@predicate		= @predicate		OUTPUT,
		@startNumber	= @startNumber		OUTPUT,
		@endNumber		= @endNumber		OUTPUT,
		@order			= @order			OUTPUT,
		@emplacementId	= @emplacementId	OUTPUT,
		@applicationId	= @applicationId	OUTPUT,
		@organisations	= @organisations	OUTPUT;
	INSERT [#organisations] SELECT * FROM [Common].[Guid.Entities](@organisations);

	SELECT * INTO [#input] FROM [Owner.Post].[Split.Entity](@entity) X;
	
	IF (@permissionType = 'PostSplitCreate') BEGIN
		WITH XC AS
		(
			SELECT ISNULL(MAX(CAST(S.[SplitCode] AS INT)), 0) + 1	[Code]
			FROM [#input]						X
			INNER JOIN	[Owner.Post].[Split]	S	ON	X.[OrganisationId]	= S.[SplitOrganisationId]
			WHERE [Common].[Code.IsNumeric](S.[SplitCode]) = 1
		)
		INSERT [Owner.Post].[Split]
		(
			[SplitOrganisationId],
			[SplitCode],
			[SplitPostType],
			[SplitName],
			[SplitNames],
			[SplitIsSystem],
			[SplitIsExclusive],
			[SplitSettings]
		)
		OUTPUT INSERTED.[SplitId] INTO @output ([Id])
		SELECT
			X.[OrganisationId],
			ISNULL(X.[Code], XC.[Code]),
			X.[SplitPostType],
			X.[Name],
			X.[Names],
			X.[IsSystem],
			X.[IsExclusive],
			X.[Settings]
		FROM [#input] X OUTER APPLY XC;
		SELECT S.* FROM [Owner.Post].[Entity.Split]		S
		INNER JOIN	@output								X	ON	S.[SplitId]	= X.[Id];
		SET @number = @@ROWCOUNT;
	END
	
	IF (@permissionType = 'PostSplitRead') BEGIN
		SELECT S.* FROM [Owner.Post].[Entity.Split]		S
		INNER JOIN	[#input]							X	ON	S.[SplitId]	= X.[Id];
		SET @number = @@ROWCOUNT;
	END
		
	IF (@permissionType = 'PostSplitUpdate') BEGIN
		UPDATE S SET 
			S.[SplitCode]		= X.[Code],
			S.[SplitName]		= X.[Name],
			S.[SplitNames]		= X.[Names],
			S.[SplitIsSystem]	= X.[IsSystem],
			S.[SplitSettings]	= X.[Settings]
		OUTPUT INSERTED.[SplitId] INTO @output ([Id])
		FROM [Owner.Post].[Split]					S
		INNER JOIN	[#input]						X	ON	S.[SplitId]			= X.[Id]	AND
															S.[SplitVersion]	= X.[Version];
		EXEC [Error].[EntityAction.Throw] @number = @number OUTPUT;
		SELECT S.* FROM [Owner.Post].[Entity.Split]	S
		INNER JOIN	@output							X	ON	S.[SplitId]			= X.[Id];
	END

	IF (@permissionType = 'PostSplitDelete') BEGIN
		BEGIN TRANSACTION;
		BEGIN TRY
			DELETE B FROM [Owner.Post].[Bond]		B
			INNER JOIN	[Owner.Post].[Group]		G	ON	B.[BondGroupId]		= G.[GroupId]
			INNER JOIN	[#input]					X	ON	G.[GroupSplitId]	= X.[Id];
			DELETE	G	FROM [Owner.Post].[Group]	G
			INNER JOIN	[#input]					X	ON	G.[GroupSplitId]	= X.[Id];
			DELETE S FROM [Owner.Post].[Split]		S
			INNER JOIN	[#input]					X	ON	S.[SplitId]			= X.[Id]	AND
															S.[SplitVersion]	= X.[Version];
			EXEC [Error].[EntityAction.Throw] @number = @number OUTPUT;
			COMMIT TRANSACTION;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			EXEC [Error].[General.Throw];
		END CATCH;	
	END
	
	IF (@permissionType = 'PostSplitSearch') BEGIN
		CREATE TABLE [#split] ([Id] UNIQUEIDENTIFIER PRIMARY KEY CLUSTERED);
		EXEC sp_executesql 
			N'EXEC [Owner.Post].[Split.Filter]
			@predicate,
			@emplacementId,
			@applicationId,
			@organisations,
			@isCountable,
			@guids		OUTPUT,
			@isExcluded OUTPUT,
			@isFiltered OUTPUT,
			@number		OUTPUT',
			N'@predicate	XML,
			@emplacementId	UNIQUEIDENTIFIER,
			@applicationId	UNIQUEIDENTIFIER,
			@organisations	XML,
			@isCountable	BIT,
			@guids			XML OUTPUT,
			@isExcluded		BIT OUTPUT,
			@isFiltered		BIT OUTPUT,
			@number			INT OUTPUT',
			@predicate		= @predicate,
			@emplacementId	= @emplacementId,
			@applicationId	= @applicationId,
			@organisations	= @organisations,
			@isCountable	= @isCountable,
			@guids			= @guids		OUTPUT,
			@isExcluded		= @isExcluded	OUTPUT,
			@isFiltered		= @isFiltered	OUTPUT,
			@number			= @number		OUTPUT;
		INSERT [#split] SELECT * FROM [Common].[Guid.Entities](@guids);
		SET @order = ISNULL(@order, ' ORDER BY [SplitOrganisationId] ASC, [SplitCode] ASC ');
		IF (@startNumber IS NULL AND @endNumber IS NULL) BEGIN 
			IF (@isFiltered = 0)
				SET @command = '
				SELECT S.* FROM [Owner.Post].[Entity.Split]			S
				';
			ELSE
				IF (@isExcluded = 0)
					SET @command = '
					SELECT S.* FROM [#split]						X
					INNER JOIN	[Owner.Post].[Entity.Split]			S	ON	X.[Id]				= S.[SplitId]
					';
				ELSE
					IF (@organisations IS NULL)
						SET @command = '
						SELECT S.* FROM [Owner.Post].[Entity.Split]	S
						LEFT JOIN	[#split]						X	ON	S.[SplitId]			= X.[Id]
						WHERE 
							' + ISNULL('S.[EmplacementId] = ''' + CAST(@emplacementId AS NVARCHAR(MAX)) + ''' AND', '') + '
							X.[Id] IS NULL
						';
					ELSE
						SET @command = '
						SELECT S.* FROM [Owner.Post].[Entity.Split]	S
						INNER JOIN	[#organisations]				XO	ON	S.[OrganisationId]	= XO.[Id]
						LEFT JOIN	[#split]						X	ON	S.[SplitId]			= X.[Id]
						WHERE 
							' + ISNULL('S.[EmplacementId] = ''' + CAST(@emplacementId AS NVARCHAR(MAX)) + ''' AND', '') + '
							X.[Id] IS NULL
						';
			SET @command = @command + @order;
		END
		ELSE BEGIN
			IF (@isFiltered = 0)
				SET @command = '
				SELECT * FROM
				(
					SELECT 
						S.*, 
						ROW_NUMBER() OVER(' + @order + ') [Number]
					FROM [Owner.Post].[Entity.Split]				S
				)	S
				WHERE S.[Number] BETWEEN
				';
			ELSE
				IF (@isExcluded = 0)
					SET @command = '
					SELECT * FROM
					(
						SELECT 
							S.*, 
							ROW_NUMBER() OVER(' + @order + ') [Number]
						FROM [#split]								X
						INNER JOIN	[Owner.Post].[Entity.Split]		S	ON	X.[Id]				= S.[SplitId]
					)	S
					WHERE S.[Number] BETWEEN
					';
				ELSE
					IF (@organisations IS NULL)
						SET @command = '
						SELECT * FROM
						(
							SELECT 
								S.*, 
								ROW_NUMBER() OVER(' + @order + ') [Number]
							FROM [Owner.Post].[Entity.Split]		S
							LEFT JOIN	[#split]					X	ON	S.[SplitId]			= X.[Id]
							WHERE 
								' + ISNULL('S.[EmplacementId] = ''' + CAST(@emplacementId AS NVARCHAR(MAX)) + ''' AND', '') + '
								X.[Id] IS NULL
						)	S
						WHERE S.[Number] BETWEEN
						';
					ELSE
						SET @command = '
						SELECT * FROM
						(
							SELECT 
								S.*, 
								ROW_NUMBER() OVER(' + @order + ') [Number]
							FROM [Owner.Post].[Entity.Split]		S
							INNER JOIN	[#organisations]			XO	ON	S.[OrganisationId]	= XO.[Id]
							LEFT JOIN	[#split]					X	ON	S.[SplitId]			= X.[Id]
							WHERE 
								' + ISNULL('S.[EmplacementId] = ''' + CAST(@emplacementId AS NVARCHAR(MAX)) + ''' AND', '') + '
								X.[Id] IS NULL
						)	S
						WHERE S.[Number] BETWEEN
						';
			SET @command = @command + CAST(@startNumber AS NVARCHAR(MAX)) + ' AND ' + CAST(@endNumber AS NVARCHAR(MAX));
		END
		EXEC sp_executesql @command;
	END

END
GO
